*{
  font-family: "JetBrains Mono", sans-serif;
}
:root {
  --primary-color: #08070b;
  --second-color: #18171f;
  --three-color: #23222a;
}
body{
    background-color: var(--primary-color);
}

input[type='text']{
    background-color: var(--second-color);
}

.box{
  padding: 2rem;
  width: 50%; 
  margin: 0rem auto;
  background-color: var(--three-color);
}