*{
  font-family: "JetBrains Mono", sans-serif;
}
:root {
  --primary-color: #08070b;
  --second-color: #18171f;
  --three-color: #23222a;
  --four-color: #807c92;
  --five-color: #a3ffae;
}
body{
    background-color: var(--primary-color);
}

input[type='text']{
    background-color: var(--second-color);
    border: 1px solid var(--three-color);
    padding: 0.9rem;
}
::placeholder{
   color: var(--four-color)!important;
}
.box{
  padding: 2rem;
  width: 50%; 
  margin: 0rem auto;
  background-color: var(--three-color);
}

.box h1{
  color: var(--four-color);
}

#btnBuscar{
  background-color: var(--five-color);
  color: var(--three-color);
  border: 0;
  padding: 0.9rem;
}

.img-wrapper{
   display: flex; 
   flex-direction: column;
}

.logo{
  width: 35%;
  margin: 0rem auto;
}
.imagem{
  width: 41%;
  margin: 0rem auto;
}





@media (min-width: 576px) {
  .box {
    width: 100%;
    background-color: rgb(224, 28, 93);
  }
}


@media (min-width: 768px) {
  .box {
    width: 60%;
    background-color: slateblue;
  }

  input[type='text']{
    padding: 0.9rem;  
  }
}


@media (max-width: 575.98px) {
  .box {
    background-color: rgb(0, 195, 255);
    width: auto;
  }
  

  .imagem,.logo{
    width: auto!important;
  }

  
}