*{
  font-family: "JetBrains Mono", sans-serif;
}
:root {
  --primary-color: #08070b;
  --second-color: #18171f;
  --three-color: #23222a;
  --four-color: #807c92;
  --five-color: #a3ffae;
}
body{
    background-color: var(--primary-color);
}

input[type='text']{
    background-color: var(--second-color);
    border: 1px solid var(--three-color);
}
::placeholder{
   color: var(--four-color)!important;
}
.box{
  padding: 2rem;
  width: 50%; 
  margin: 0rem auto;
  background-color: var(--three-color);
}

.box h1{
  color: var(--four-color);
}

#btnBuscar{
  background-color: var(--five-color);
  color: var(--three-color);
}

.img-wrapper{
   display: flex; 
   flex-direction: column;
}

.logo{
  width: 35%;
  margin: 0rem auto;
}
.imagem{
  width: 35%;
  margin: 0rem auto;
}